<div class="relative flex flex-col items-center justify-center min-h-screen p-4 bg-gradient-to-br from-sky-200 to-blue-300 text-center overflow-hidden">
  <img src="https://i.ibb.co/3yNpyGh4/logo-final-flia.jpg" alt="Logo de Proyecto P.I.V.E.S." class="w-48 h-48 mx-auto mb-4 object-contain" />
  <h1 class="text-5xl font-display text-blue-600">Proyecto P.I.V.E.S.</h1>
  <p class="mt-2 text-xl text-slate-600 mb-12">Educación que salva vidas</p>
  
  <div class="w-full max-w-xs space-y-4 z-10">
    <button
      routerLink="/login"
      class="w-full py-3 px-4 bg-blue-500 text-white font-bold text-lg rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transform transition-transform hover:scale-105"
    >
      Ingresar
    </button>
    <button
      routerLink="/register"
      class="w-full py-3 px-4 bg-green-500 text-white font-bold text-lg rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transform transition-transform hover:scale-105"
    >
      Registrarse
    </button>
  </div>
  
  <img 
    src="https://i.ibb.co/WNZJtpHZ/Mara.png" 
    alt="Mascota Mara" 
    class="absolute bottom-0 right-0 w-40 h-auto md:w-56 transform translate-x-1/4 translate-y-1/4 select-none pointer-events-none object-contain"
  />
</div>


